* {
    font-family: "Afacad Flux", sans-serif;
}

.playlistbox {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.greeting {
    font-size: 26px; 
}

.button {
    width: 40%;
    padding: 20px 0px;
    margin: 20px 0px;
    font-size: 24px;
    background-color: #CB80AB;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.playlistinputfield {
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.removebutton {
    font-size: 30px;
    width: 50px;
    height: 54px;
    background-color: #CB80AB;
    border: 0px;
    cursor: pointer;
}

.trackbox {
    border: 2px solid #FFECEC;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
}