@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  min-height: 100%;
  background-color: #624E88;
  color: #E6D9A2;            
}

@supports (-webkit-touch-callout: none) {
  html, body { background-color: #624E88 !important; }
}

#root {
  will-change: transform;
  transform: translateZ(0);
}



